# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

version: '2'

services:

  orderer.example.com:
    container_name: orderer.example.com
    image: hyperledger/fabric-orderer
    environment:
      - ORDERER_GENERAL_LOGLEVEL=debug
      - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
      - ORDERER_GENERAL_GENESISMETHOD=file
      - ORDERER_GENERAL_GENESISFILE=/var/hyperledger/orderer/orderer.genesis.block
      - ORDERER_GENERAL_LOCALMSPID=OrdererMSP
      - ORDERER_GENERAL_LOCALMSPDIR=/var/hyperledger/orderer/msp
      # enabled TLS
      - ORDERER_GENERAL_TLS_ENABLED=true
      - ORDERER_GENERAL_TLS_PRIVATEKEY=/var/hyperledger/orderer/tls/server.key
      - ORDERER_GENERAL_TLS_CERTIFICATE=/var/hyperledger/orderer/tls/server.crt
      - ORDERER_GENERAL_TLS_ROOTCAS=[/var/hyperledger/orderer/tls/ca.crt]
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric
    command: orderer
    volumes:
    - ../channel-artifacts/genesis.block:/var/hyperledger/orderer/orderer.genesis.block
    - ../crypto-config/ordererOrganizations/example.com/orderers/orderer.example.com/msp:/var/hyperledger/orderer/msp
    - ../crypto-config/ordererOrganizations/example.com/orderers/orderer.example.com/tls/:/var/hyperledger/orderer/tls
    ports:
      - 7050:7050

  peer0.supp.example.com:
    container_name: peer0.supp.example.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer0.supp.example.com
      - CORE_PEER_ADDRESS=peer0.supp.example.com:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0.supp.example.com:7051
      - CORE_PEER_LOCALMSPID=suppMSP
    volumes:
        - /var/run/:/host/var/run/
        - ../crypto-config/peerOrganizations/supp.example.com/peers/peer0.supp.example.com/msp:/etc/hyperledger/fabric/msp
        - ../crypto-config/peerOrganizations/supp.example.com/peers/peer0.supp.example.com/tls:/etc/hyperledger/fabric/tls
    ports:
      - 7051:7051
      - 7053:7053

  peer1.supp.example.com:
    container_name: peer1.supp.example.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer1.supp.example.com
      - CORE_PEER_ADDRESS=peer1.supp.example.com:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer1.supp.example.com:7051
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.supp.example.com:7051
      - CORE_PEER_LOCALMSPID=suppMSP
    volumes:
        - /var/run/:/host/var/run/
        - ../crypto-config/peerOrganizations/supp.example.com/peers/peer1.supp.example.com/msp:/etc/hyperledger/fabric/msp
        - ../crypto-config/peerOrganizations/supp.example.com/peers/peer1.supp.example.com/tls:/etc/hyperledger/fabric/tls

    ports:
      - 8051:7051
      - 8053:7053

  peer0.logis.example.com:
    container_name: peer0.logis.example.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer0.logis.example.com
      - CORE_PEER_ADDRESS=peer0.logis.example.com:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0.logis.example.com:7051
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.logis.example.com:7051
      - CORE_PEER_LOCALMSPID=logisMSP
    volumes:
        - /var/run/:/host/var/run/
        - ../crypto-config/peerOrganizations/logis.example.com/peers/peer0.logis.example.com/msp:/etc/hyperledger/fabric/msp
        - ../crypto-config/peerOrganizations/logis.example.com/peers/peer0.logis.example.com/tls:/etc/hyperledger/fabric/tls
    ports:
      - 9051:7051
      - 9053:7053

  peer1.logis.example.com:
    container_name: peer1.logis.example.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer1.logis.example.com
      - CORE_PEER_ADDRESS=peer1.logis.example.com:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer1.logis.example.com:7051
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer1.logis.example.com:7051
      - CORE_PEER_LOCALMSPID=logisMSP
    volumes:
        - /var/run/:/host/var/run/
        - ../crypto-config/peerOrganizations/logis.example.com/peers/peer1.logis.example.com/msp:/etc/hyperledger/fabric/msp
        - ../crypto-config/peerOrganizations/logis.example.com/peers/peer1.logis.example.com/tls:/etc/hyperledger/fabric/tls
    ports:
      - 10051:7051
      - 10053:7053

  peer0.manu.example.com:
    container_name: peer0.manu.example.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer0.manu.example.com
      - CORE_PEER_ADDRESS=peer0.manu.example.com:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0.manu.example.com:7051
      - CORE_PEER_LOCALMSPID=manuMSP
    volumes:
        - /var/run/:/host/var/run/
        - ../crypto-config/peerOrganizations/manu.example.com/peers/peer0.manu.example.com/msp:/etc/hyperledger/fabric/msp
        - ../crypto-config/peerOrganizations/manu.example.com/peers/peer0.manu.example.com/tls:/etc/hyperledger/fabric/tls
    ports:
      - 11051:7051
      - 11053:7053

  peer1.manu.example.com:
    container_name: peer1.manu.example.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer1.manu.example.com
      - CORE_PEER_ADDRESS=peer1.manu.example.com:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer1.manu.example.com:7051
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.manu.example.com:7051
      - CORE_PEER_LOCALMSPID=manuMSP
    volumes:
        - /var/run/:/host/var/run/
        - ../crypto-config/peerOrganizations/manu.example.com/peers/peer1.manu.example.com/msp:/etc/hyperledger/fabric/msp
        - ../crypto-config/peerOrganizations/manu.example.com/peers/peer1.manu.example.com/tls:/etc/hyperledger/fabric/tls

    ports:
      - 12051:7051
      - 12053:7053

  peer0.audi.example.com:
    container_name: peer0.audi.example.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer0.audi.example.com
      - CORE_PEER_ADDRESS=peer0.audi.example.com:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0.audi.example.com:7051
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.audi.example.com:7051
      - CORE_PEER_LOCALMSPID=audiMSP
    volumes:
        - /var/run/:/host/var/run/
        - ../crypto-config/peerOrganizations/audi.example.com/peers/peer0.audi.example.com/msp:/etc/hyperledger/fabric/msp
        - ../crypto-config/peerOrganizations/audi.example.com/peers/peer0.audi.example.com/tls:/etc/hyperledger/fabric/tls
    ports:
      - 13051:7051
      - 13053:7053

  peer1.audi.example.com:
    container_name: peer1.audi.example.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer1.audi.example.com
      - CORE_PEER_ADDRESS=peer1.audi.example.com:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer1.audi.example.com:7051
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer1.audi.example.com:7051
      - CORE_PEER_LOCALMSPID=audiMSP
    volumes:
        - /var/run/:/host/var/run/
        - ../crypto-config/peerOrganizations/audi.example.com/peers/peer1.audi.example.com/msp:/etc/hyperledger/fabric/msp
        - ../crypto-config/peerOrganizations/audi.example.com/peers/peer1.audi.example.com/tls:/etc/hyperledger/fabric/tls
    ports:
      - 14051:7051
      - 14053:7053

